@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	box-sizing: border-box;
	font-size: 16px;

	--primary-color: #1E1C1C;
	--secondary-color: #181616;
	--accent-color: #D01744;
	--background-color: #111010;
	--font-color: #EAEAEA;

	background-color: var(--background-color);
	scroll-behavior: smooth;
}

* {
	color: var(--font-color);
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
	margin: 0;
	padding: 0;
}

body:nth-child(odd) {
	background-color: var(--secondary-color);
}

body:nth-child(even) {
	background-color: var(--background-color);
}

header {
	display: flex;
	flex-direction: column;
	width: auto;

	padding: 0.8rem 0;

	background-image: linear-gradient(125deg, #FFF1, #000C), url(assets/images/nasa-wallpaper.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.header-nav {
	display: flex;
	padding: 0.8rem 0;

	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.header-nav>img {
	width: 36px;
	height: 36px;
}

.header-nav>nav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.header-nav nav a {
	color: var(--font-color);
	text-decoration: none;
	margin: 0 0.8rem;
}

section {
	padding: 0 1.8rem;
	margin: 1rem 0;
}

.entrypoint {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
	padding: 4% 0;
}

.entrypoint>img {
	width: clamp(6rem, 8rem, 15rem);
	height: clamp(6rem, 8rem, 15rem);
	border-radius: 100%;
	margin-right: 1%;
}

.entrypoint h3 {
	text-transform: uppercase;
	font-size: medium;
}

.entrypoint h1 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: large;
}

.wrapper-contact {
	margin-top: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.wrapper-contact>a {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 24px;
	height: 24px;
	padding: 1rem;
	border-radius: 2rem;
	background-color: var(--accent-color);
	box-shadow: 2px 2px 8px 0px var(--background-color), -1px -1px 8px #878585;
}

#article-wrapper {
	display: flex;
}

article {
	flex: 1 1 0;
	padding: 0 0.5rem;
}

article span>h1 {
	color: var(--font-color);
	text-transform: uppercase;
	font-weight: 700;
	font-size: xx-large;
}

article span>hr {
	width: 25%;
	height: 0.25rem;
	background-color: var(--accent-color);
	border: none;
	margin-bottom: 1rem;
}

.accordion {
	width: 100%;
}

.accordion::after {
	content: '⬇️';
	margin-left: 4%;
}

.accordion+ul {
	max-height: 0;
	overflow: hidden;
}

.accordion:hover {
	cursor: pointer;
}

.accordion.active-acorddion+ul {
	max-height: 100%;
}

.accordion.active-acorddion::after {
	content: '⬆️';
	margin-left: 4%;
}

.card-wrapper {
	display: flex;
	margin-top: 2rem;
	width: 100%;
	align-items: center;
	justify-content: space-evenly;
}

.card {
	display: flex;
	flex-direction: column;

	justify-content: space-evenly;

	width: clamp(25%, 20rem, 90%);
	height: 15rem;
	padding: 1.5rem;
	border-radius: 2rem;
	background-color: var(--accent-color);
	box-shadow: 2px 2px 8px 0px var(--background-color), -1px -1px 8px #878585;
}

.card-review {
	text-align: justify;
	margin-bottom: auto;

	overflow-x: hidden;
	overflow-y: scroll;
}

.card-review::-webkit-scrollbar {
	display: block;
}

.card-author {
	margin-top: 1rem;
	text-align: end;
}

.card-author::before {
	content: "- " open-quote;
}

.card-author::after {
	content: close-quote;
}

ul,
li {
	margin-left: 1.4rem;
	list-style-type: '⭐️ ';
}

.aside-nav {
	display: flex;
	flex-direction: column;
	flex: 1 1 0;

	align-items: flex-start;
	justify-content: space-evenly;

	width: 28%;
}

.aside-nav>button {
	width: 100%;
	height: 100%;
	background: none;
	border: none;
	color: var(--font-color);
	background-color: var(--background-color);
	text-transform: uppercase;
	text-align: start;
	padding: 1rem 0.5rem;
	border-left: 0.25rem solid var(--primary-color);
}

.ativo {
	border-left: 0.25rem solid var(--accent-color) !important;
	/* border-bottom: 0.25rem solid var(--accent-color) !important; */
	color: var(--accent-color) !important;
	font-weight: bold;
}

.content {
	display: flex;
	width: 70%;
}

.content>ul {
	display: none;
}

.row {
	display: flex;
	flex-direction: row;
	flex: 1 1 0;
	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
	flex: 1 1 0;
	width: 100%;
}

.selecionado {
	display: flex !important;
	flex: 1 1 0;
	flex-direction: column;

	align-items: flex-start;
	justify-content: space-evenly;
}

canvas {
	width: 21rem;
	height: 30rem;
	border: 1px solid snow;
}

button:hover {
	cursor: pointer;
	filter: brightness(1.75);
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	padding: 1.8rem 0rem;
	background-color: var(--primary-color);
}

footer>p {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: small;
}