@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	box-sizing: border-box;
	font-size: 16px;

	--primary-color: #1E1C1C;
	--secondary-color: #181616;
	--accent-color: #D01744;
	--background-color: #111010;
	--font-color: #EAEAEA;

	background-color: var(--background-color);
}

* {
	color: var(--font-color);
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	width: auto;
	top: 0;
	position: sticky;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 0.8rem 0;
	background-color: var(--primary-color);
}

header img {
	width: 36px;
	height: 36px;
}

header nav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

header nav a {
	color: var(--font-color);
	text-decoration: none;
	margin: 0 0.8rem;
}

header nav a:last-child {
	background-color: var(--accent-color);
	padding: 0.2rem 1rem;
	border-radius: 0.5rem;
	box-shadow: 2px 2px 8px 0px var(--background-color), -1px -1px 8px #878585;
}

.entrypoint {
	display: flex;
	/* border: 2px solid red; */
	align-items: center;
	justify-content: center;
	padding: 12% 0;
}

.entrypoint>img {
	width: 240px;
	height: 240px;
	border-radius: 50%;
	margin-right: 2rem;
}

.entrypoint h3 {
	text-transform: uppercase;
	font-size: 24px;
}

.entrypoint h1 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 44px;
}

.wrapper-contact {
	/* border: 2px solid red; */
	margin-top: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.wrapper-contact>a {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 24px;
	height: 24px;
	padding: 1rem;
	border-radius: 2rem;
	background-color: var(--accent-color);
	box-shadow: 2px 2px 8px 0px var(--background-color), -1px -1px 8px #878585;
}

footer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	bottom: 0;
	padding: 2rem 4rem;
}

footer>p {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
}